.App {
  position: relative;
}

.item {
  position: absolute;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(22, 22, 22);
}

.key {
  color: white;
  margin-top: 10px;
}

.header {
  color: white;
  text-align: center;
  position: relative;
  height: 3em;
}
.left {
  position: absolute;
  text-align: left;
}
.right {
  position: absolute;
  text-align: right;
  right: 0;
}
